.forgotPasswordlabel {
  float: right;
}
.login-btn-custom-css {
  margin-top: 24px;
}
.top-image {
  position: absolute;
  margin-top: 14%;
  z-index: 1;
  width: 24%;
}
.login-background {
  background-image: url(/assets/image/img02.png);
  background-repeat: round;
}
.login-window-middle {
  margin-top: 23%;
}
.login-form-top {
  margin-top: 20%;
}
.input-group-css {
  background-color: white;
}
.fa-icon-color {
  color: #a9a2a2;
}
