.signup-window-middle {
  margin-top: 14%;
}
.signup-form-top {
  margin-top: 15%;
}
.signup-top-image {
  position: absolute;
  margin-top: 5%;
  z-index: 1;
  width: 24%;
}
.signup-text-height {
  height: 4%;
}
.signup-btn {
  margin-top: 11%;
}
.signup-background {
  background-image: url(/assets/image/img02.png);
  background-repeat: no-repeat;
  background-size: cover;
}
